.registration__tabs-button {
    font-weight: 400;
    font-size: 20px;
    line-height: 128.01%;
    color: #7C7A7A;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding-bottom: 20px;
}