.startup-form__input_checkbox {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
}

.startup-form__input_checkbox:checked {
    background: url('../../../../images/Vector.svg');
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #7C94FF;
    outline: none;
}
