.profile-form__label {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #001529;
    margin: 0 5px 10px 0;
    padding: 0;
}

.profile-form__label::after {
    content: '*';
    color: red;
    margin-left: 5px;
}