.profile-form__button-edit {
    background-image: url('../../../images/avatar-profile-edit-button.svg');
    padding: 14px;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: 7px;
    left: 86px;
}